atlassian-ide-plugin.xml
*.bak
*/build/*
.classpath
*.DS_Store
fake.xml
*/*.idea/*
*.idea/*
*.ids
*.iml
*.ipr
*.iws
*.log
*.log.*
move_configs.sh
*.orig
*out/*
.project
saiku/overlays
.settings
.settings/*
*.sql~
*/src/main/config/local*
*/src/main/groovy/local*
*sun-jaxb.episode
*/target*
*/test-output/*
*test-output/*
*/test/reports/*
*/test/reports/html*
*/test/reports/plain*
*Thumbs.db
.tmp_*
